.header {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    background-color: rgb(70, 63, 58);
    color: rgb(224, 175, 160);
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.85);
}

.header__left {
    display: flex;
    justify-content: space-evenly;
    flex: .8;
    font-size: 20px;
}

.header__tab:hover {
    color: rgb(244, 243, 238);
    background-color: rgb(138, 129, 124);
    border-radius: 10px;
    align-items: center;
    font-size: 20px;
    padding: 3px 10px;
    cursor: pointer;
    border-bottom: 5px solid rgb(244, 243, 238);
    border-top: none;
}

.header__tab--active {
    border-bottom: 4px solid rgb(224, 175, 160);
    border-top: 2.5px solid rgb(224, 175, 160);
    padding: 2px 7px;
    border-radius: 10px;
}

.header__mid {
    display: flex;
    flex: 1.4;
    font-size: 15px;
    justify-content: center;
}

.header__right {
    display: flex;
    flex: .8;
    justify-content: space-evenly;
    font-size: 20px;
}